@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora-v10-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Lora Regular'), local('Lora-Regular'), url('../fonts/lora-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lora-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lora-v10-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/lora-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/lora-v10-latin-regular.svg#Lora') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v7-latin-ext_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('../fonts/fira-sans-v7-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v7-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v7-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v7-latin-ext_latin-regular.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-v7-latin-ext_latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('../fonts/fira-sans-v7-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v7-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v7-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v7-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v7-latin-ext_latin-500.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate-out-y {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(-180deg);
    opacity: 0;
  }
}
@-webkit-keyframes rotate-out-y {
  0% {
    -webkit-transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    opacity: 0;
  }
}
.menu-open {
  display: none;
}
@media (max-width: 768px) {
  .menu-open {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 31px;
    background-color: #ffffff;
    width: 55px;
    height: 35px;
    border: 1px solid #cd3e72;
    border-radius: 3px;
    z-index: 1600;
    outline: none;
    font-family: 'Lora', 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0;
    color: #cd3e72;
  }
  .menu-open_hidden {
    z-index: 10;
    visibility: hidden;
  }
}
@media (max-width: 425px) {
  .menu-open {
    width: 54px;
    height: 35px;
    top: 16px;
    right: 13px;
  }
}
.close-btn {
  border: none;
  width: 37px;
  height: 29px;
  background-color: transparent;
  position: absolute;
  right: 24px;
  top: 14px;
  z-index: 1600;
  outline: none;
  display: none;
  color: transparent;
}
.close-btn::after {
  content: '';
  display: block;
  width: 27px;
  height: 5px;
  background-color: #cd3e72;
  position: absolute;
  top: 9px;
  left: 2px;
  transform: rotate(41deg);
}
@media (max-width: 425px) {
  .close-btn::after {
    width: 25px;
    height: 3px;
  }
}
.close-btn::before {
  content: '';
  display: block;
  width: 27px;
  height: 5px;
  background-color: #cd3e72;
  position: absolute;
  top: 9px;
  left: 2px;
  transform: rotate(137deg);
}
@media (max-width: 425px) {
  .close-btn::before {
    width: 25px;
    height: 3px;
  }
}
@media (max-width: 768px) {
  .close-btn {
    display: block;
  }
}
@media (max-width: 425px) {
  .close-btn {
    top: 18px;
    right: 25px;
    width: 25px;
    height: 25px;
  }
}
body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 16px;
  line-height: 19px;
  color: #444;
  padding-bottom: 40px;
  padding-top: 15px;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  position: relative;
  background: url('../img/natalia-header.svg') no-repeat top center, #ffffff;
  background-size: contain;
}
.header__logo {
  width: 23%;
  display: block;
  margin: auto;
}
@media (max-width: 768px) {
  .header {
    background: none;
  }
  .header__logo {
    width: 70%;
    margin-left: 0;
  }
}
@media (max-width: 425px) {
  .header__logo {
    width: 100%;
  }
}
.main-nav__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  line-height: 27px;
  padding: 5px 0 15px;
  width: 100%;
  margin: 0 auto auto;
}
.main-nav__link {
  text-decoration: none;
  color: #444444;
  font-size: 17px;
  padding: 15px 10px;
  transition: color 0.2s linear;
}
.main-nav__link_active {
  color: #cd3e72;
  opacity: 0.8;
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:active {
  color: #cd3e72;
}
@media (max-width: 768px) {
  .main-nav {
    display: none;
  }
  .main-nav__items {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.95);
    margin-bottom: 0;
    line-height: 52px;
  }
  .main-nav__item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
  }
  .main-nav__link {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 4px 100px;
  }
  .main-nav_open {
    display: block;
    position: absolute;
    top: 99%;
    padding: 0;
    width: 100%;
    z-index: 1500;
  }
}
@media (max-width: 425px) {
  .main-nav__item {
    font-size: 21px;
    line-height: 54px;
  }
}
.footer {
  text-align: center;
  font-size: 14px;
}
.footer__img {
  display: inline-block;
  background: url('../img/footer.svg') no-repeat top center;
  background-size: contain;
  width: 250px;
  height: 85px;
}
.copyright {
  margin-top: 0;
}
.base-link {
  text-decoration: none;
  opacity: 0.8;
  color: #444444;
}
.alert {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  width: 500px;
  margin-left: -250px;
  overflow: hidden;
  box-shadow: 0 5px 39px rgba(0, 0, 0, 0.4);
  z-index: 2100;
  text-align: center;
  display: none;
}
.alert_show {
  display: block;
}
.alert_success .alert__container_header,
.alert_error .alert__container_header {
  background-color: #fff;
}
.alert__container_content {
  background-color: #fff;
  padding-bottom: 20px;
}
.alert__container_header {
  padding: 15px 0;
}
.alert__icon {
  display: inline-block;
  vertical-align: middle;
  width: 164px;
  height: 124px;
}
.alert__icon_success {
  background: url('../img/success.svg') no-repeat top center;
  background-size: cover;
}
.alert__icon_error {
  background: url('../img/error.svg') no-repeat top center;
  background-size: cover;
}
.alert__btn {
  border: none;
  border-radius: 3px;
  padding: 7px 57px;
  width: 30%;
  transition: opacity 0.2s linear;
  cursor: pointer;
}
.alert__btn_success {
  background-color: #cd3e72;
  opacity: 0.8;
}
.alert__btn_success:hover {
  opacity: 1;
}
.alert__btn_success:active {
  opacity: 0.8;
}
.alert__title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 auto;
}
.alert__message {
  margin-top: 5px;
  padding: 0 5px 0;
}
@media (max-width: 768px) {
  .alert {
    margin-left: -45%;
    width: 90%;
  }
}
@media (max-width: 425px) {
  .alert__message {
    font-size: 0.95em;
    line-height: 1.3em;
  }
  .alert__icon {
    width: 100px;
    height: 100px;
  }
}
.btn {
  background-color: #cd3e72;
  display: inline-block;
  font-family: 'Fira', Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.5;
}
.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto auto 20px;
}
.contact__title {
  margin-top: 0;
}
.contact__description {
  margin-bottom: 55px;
  line-height: 24px;
}
.contact__text {
  margin: 0;
}
.contact::after {
  content: '';
  width: 241px;
  height: 112px;
  position: absolute;
  bottom: 48px;
  left: 70px;
  background: url('../img/post.svg') no-repeat center;
  background-size: cover;
}
.contact::before {
  content: '';
  width: 163px;
  height: 39px;
  position: absolute;
  bottom: 58px;
  left: 340px;
  background: url('../img/sign.svg') no-repeat center;
  background-size: cover;
}
@media (max-width: 1038px) {
  .contact::before,
  .contact::after {
    display: none;
  }
}
@media (max-width: 963px) {
  .contact {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 25px;
  }
  .contact__block {
    padding-bottom: 20px;
  }
  .contact__description {
    margin-bottom: 27px;
    line-height: 28px;
  }
  .contact__text {
    margin-bottom: 7px;
  }
}
@media (max-width: 550px) {
  .contact__block {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
}
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.icon_phone {
  background-image: url('../img/phone.svg');
}
.icon_mail {
  background-image: url('../img/mail.svg');
}
.input-text {
  width: 484px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid #efefef;
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 16px;
  outline: none;
  margin: auto auto 17px;
  transition: all 0.3s linear;
  -webkit-appearance: none;
}
.input-text:hover {
  border-color: #cd3e72;
}
.input-text:active {
  border-color: #cd3e72;
  opacity: 0.6;
}
.input-text:focus {
  border-color: #e9688e;
}
@media (max-width: 1024px) {
  .input-text {
    width: 380px;
  }
}
@media (max-width: 963px) {
  .input-text {
    width: 95%;
  }
}
@media (max-width: 425px) {
  .input-text {
    width: 93%;
  }
}
@media (max-width: 320px) {
  .input-text {
    width: 91%;
  }
}
.form {
  display: flex;
  flex-flow: column wrap;
  max-width: 508px;
  margin: auto;
}
.form__label {
  opacity: 0.7;
  margin-left: 10px;
}
.form__btn {
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  width: 192px;
  opacity: 0.8;
  font-size: 16px;
  cursor: pointer;
}
.form__btn:hover {
  opacity: 1;
}
.form__btn:active {
  opacity: 0.5;
}
.form__textarea {
  height: 70px;
  resize: none;
}
@media (max-width: 1024px) {
  .form {
    max-width: 380px;
  }
}
@media (max-width: 963px) {
  .form {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    max-width: 508px;
  }
  .form__btn {
    align-self: center;
    width: 100%;
  }
}
