html {
  height: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 16px;
  line-height: 19px;
  color: #444;
  padding-bottom: 40px;
  padding-top: 15px;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora-v10-latin-regular.eot');
  src: local('Lora Regular'), local('Lora-Regular'), url('../fonts/lora-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lora-v10-latin-regular.woff2') format('woff2'), url('../fonts/lora-v10-latin-regular.woff') format('woff'), url('../fonts/lora-v10-latin-regular.ttf') format('truetype'), url('../fonts/lora-v10-latin-regular.svg#Lora') format('svg');
}
@font-face {
  font-family: 'entypo-selected';
  src: url('../fonts/entypo-selected.eot');
  src: url('../fonts/entypo-selected.eot?#iefix') format('embedded-opentype'), url('../fonts/entypo-selected.woff') format('woff'), url('../fonts/entypo-selected.ttf') format('truetype'), url('../fonts/entypo-selected.svg#entypo-selected') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header {
  position: relative;
}
.main-nav__items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  line-height: 27px;
  padding: 5px 0 15px;
  margin-top: 0;
}
.main-nav__item {
  text-decoration: none;
  color: #444444;
  font-size: 17px;
  padding: 0;
}
.main-nav__link {
  text-decoration: none;
  color: #444444;
  font-size: 17px;
  padding: 15px 10px;
  transition: all 0.2s linear;
}
.main-nav__link_active {
  color: #cd3e72;
  opacity: 0.8;
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:active {
  color: #cd3e72;
}
@media (max-width: 768px) {
  .main-nav {
    display: none;
  }
  .main-nav__items {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0;
    line-height: 52px;
  }
  .main-nav__item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
  }
  .main-nav__link {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .main-nav_open {
    display: block;
    position: absolute;
    top: 97%;
    padding: 0;
    width: 100%;
    animation: slide-in-left 0.3s ease;
    z-index: 1500;
  }
}
@media (max-width: 420px) {
  .main-nav__item {
    font-size: 21px;
    line-height: 54px;
  }
}
.menu-open {
  display: none;
}
@media (max-width: 768px) {
  .menu-open {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 31px;
    background-color: #fff;
    width: 55px;
    height: 35px;
    border: 1px solid #cd3e72;
    border-radius: 3px;
    z-index: 1600;
    outline: none;
    font-family: 'Lora', 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0;
    color: #cd3e72;
  }
  .menu-open_hidden {
    z-index: 10;
    visibility: hidden;
  }
}
@media (max-width: 420px) {
  .menu-open {
    width: 54px;
    height: 35px;
    top: 16px;
    right: 13px;
  }
}
.close-btn {
  border: none;
  width: 37px;
  height: 29px;
  background-color: transparent;
  position: absolute;
  right: 24px;
  top: 14px;
  z-index: 1000;
  display: none;
  outline: none;
  color: transparent;
}
.close-btn::after {
  content: '';
  display: block;
  width: 27px;
  height: 5px;
  background-color: #cd3e72;
  position: absolute;
  top: 9px;
  left: 2px;
  transform: rotate(41deg);
}
@media (max-width: 420px) {
  .close-btn::after {
    width: 25px;
    height: 3px;
  }
}
.close-btn::before {
  content: '';
  display: block;
  width: 27px;
  height: 5px;
  background-color: #cd3e72;
  position: absolute;
  top: 9px;
  left: 2px;
  transform: rotate(137deg);
}
@media (max-width: 420px) {
  .close-btn::before {
    width: 25px;
    height: 3px;
  }
}
@media (max-width: 768px) {
  .close-btn {
    display: block;
  }
}
@media (max-width: 420px) {
  .close-btn {
    top: 18px;
    right: 25px;
    width: 25px;
    height: 25px;
  }
}
.full-gallery {
  padding: 0 20px 100px 20px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
.full-gallery__item {
  animation: fade-in 1.3s ease-in;
}
.full-gallery__item_odd {
   animation: fade-in 0.9s ease-in;
}
.full-gallery__item_even {
   animation: fade-in 0.7s ease-in;
}
.footer {
  text-align: center;
  font-size: 14px;
}
.footer__img {
  display: inline-block;
  background: url('../img/footer.svg') no-repeat top center;
  background-size: contain;
  width: 250px;
  height: 85px;
}
.copyright {
  margin-top: 0;
}
.base-link {
  text-decoration: none;
  opacity: 0.8;
  color: #444444;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.container {
  width: 100%;
  position: relative;
}
.gamma-container {
  min-height: 200px;
}
.gamma-gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}
.gamma-gallery:before,
.gamma-gallery:after {
  content: '';
  display: table;
}
.gamma-gallery:after {
  clear: both;
}
.gamma-gallery li {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  padding: 4px;
}
.gamma-gallery li img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}
.gamma-gallery li img:hover {
  filter: opacity(0.7);
  -webkit-filter: opacity(0.7);
  -moz-filter: opacity(0.7);
  -ms-filter: opacity(0.7);
  transition: filter 0.2s linear;
  -webkit-transition: filter 0.2s linear;
  -moz-transition: filter 0.2s linear;
  -ms-transition: filter 0.2s linear;
}
.gamma-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10001;
}
.gamma-buttons button {
  float: left;
  background: #333;
  color: #fff;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}
.gamma-buttons button:before,
.gamma-nav span:before {
  font-family: 'entypo-selected';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: block;
  text-align: center;
  opacity: 0.7;
  outline: none;
}
.no-touch .gamma-buttons button:hover {
  background: #666;
}
button.gamma-btn-close:before {
  content: '\2715';
}
button.gamma-btn-ssplay:before {
  content: '\25b6';
}
button.gamma-btn-sspause:before {
  content: '\2389';
}
.gamma-single-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
  display: none;
}
.gamma-overlay {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  z-index: 9999;
}
.gamma-single-view img {
  position: absolute;
  cursor: pointer;
}
.gamma-nav span {
  position: absolute;
  display: block;
  width: 20px;
  height: 38px;
  top: 50%;
  margin-top: -19px;
  left: 20px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gamma-nav span.gamma-next {
  left: auto;
  right: 20px;
}
.gamma-nav span:before {
  color: #fff;
  opacity: 0.7;
  font-size: 40px;
}
.gamma-nav span:hover:before {
  opacity: 1;
}
.gamma-nav span:before {
  display: block;
  margin: 0;
  width: auto;
}
.gamma-nav span.gamma-prev:before {
  content: '\e75d';
}
.gamma-nav span.gamma-next:before {
  content: '\e75e';
}
.gamma-img-fly {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}
.gamma-loading {
  background: transparent url('../img/loader_light.gif') no-repeat center center;
}
.gamma-single-view.gamma-loading {
  background: transparent url('../img/loader_dark.gif') no-repeat center center;
}
.gamma-container img,
.gamma-nav span,
.gamma-buttons button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 500px) {
  .gamma-buttons {
    float: left;
    clear: both;
  }
}
