@import 'variables';
@import 'fonts';
@import 'animation';
@import 'components/base';
@import 'components/alert';
@import 'components/controls/btn';

.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto auto 20px;

    &__title {
        margin-top: 0;
    }

    &__description {
        margin-bottom: 55px;
        line-height: 24px;
    }

    &__text {
        margin: 0;
    }

    &::after {
        content: '';
        width: 241px;
        height: 112px;
        position: absolute;
        bottom: 48px;
        left: 70px;
        background: url('../img/post.svg') no-repeat center;
        background-size: cover;
    }

    &::before {
        content: '';
        width: 163px;
        height: 39px;
        position: absolute;
        bottom: 58px;
        left: 340px;
        background: url('../img/sign.svg') no-repeat center;
        background-size: cover;
    }
}

@media (max-width: 1038px) {
    .contact {

        &::before,
        &::after {
            display: none;
        }

    }
}

@media (max-width: 963px) {
    .contact {
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding-top: 25px;

        &__block {
            padding-bottom: 20px;
        }

        &__description {
            margin-bottom: 27px;
            line-height: 28px;
        }

        &__text {
            margin-bottom: 7px;
        }
    }
}

@media (max-width: 550px) {
    .contact {
        &__block {
            padding-right: 20px;
            padding-left: 20px;
            text-align: center;
        }
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &_phone {
        background-image: url('../img/phone.svg');
    }

    &_mail {
       background-image: url('../img/mail.svg');
    }

}

.input-text {
    width: 484px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid #efefef;
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 16px;
    outline: none;
    margin: auto auto 17px;
    transition: all 0.3s linear;
    -webkit-appearance: none;

    &:hover {
        border-color: @pink;
    }

    &:active {
        border-color: @pink;
        opacity: 0.6;
    }

    &:focus {
        border-color: #e9688e;
    }
}

@media (max-width: 1024px) {
    .input-text {
        width: 380px;
    }
}

@media (max-width: 963px) {
    .input-text {
        width: 95%;
    }
}

@media (max-width: @screen_mobile) {
    .input-text {
        width: 93%;
    }
}

@media (max-width: 320px) {
    .input-text {
        width: 91%;
    }
}

.form {
    display: flex;
    flex-flow: column wrap;
    max-width: 508px;
    margin: auto;
    

    &__label {
        opacity: 0.7;
        margin-left: 10px;
    }

    &__btn {
        border: none;
        -webkit-appearance: none;
        -webkit-border-radius: 5px;
        width: 192px;
        opacity: 0.8;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__textarea {
        height: 70px;
        resize: none;
    }
}

@media (max-width: 1024px) {
    .form {
        max-width: 380px;
    }
}

@media (max-width: 963px) {
    .form {
        display: inline-block;
        text-align: center;
        padding: 0 20px;
        max-width: 508px;

        &__btn {
            align-self: center;
            width: 100%;
        }
    }
}
